{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}{{ entry.title }}{% endblock %}

{% block body %}
    <h1>{{ entry.title }} </h1>
    <p>{{ entry.blog|nl2br }} </p>
    <p>
        <small>Created by {{ entry.author }} at {{ entry.timestamp|date('H:i d/m/y') }}</small>
        <a href="{{ path('blog_edit',{'id':entry.id}) }} ">edit</a>
    </p>
{% endblock %}
